nav.menu-nav ul li.bouton{
  display: inline-block;
  list-style-type: none;
}

nav.menu-nav ul li.bouton a{
  color: rgb(255, 255, 255);
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.250);
  padding: 10px;
  font-size: 30px;
}

nav.menu-nav ul li.bouton:hover a{
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.850);
  transition: 0.3s all;
}

header{
  background-color: hsla(0, 0%, 0%, 0.250);
  color: white;
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  font-family: cursive;
  line-height: 250px;
}

body{
  background-color: rgb(255, 255, 255);
}