@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html,body

#grille{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 100px;
}

div.Titre{
    text-align: center;
    color:rgb(255, 255, 255);
    padding:50px;
    background-color:#16242F;
    font-size:70px ;
    block-size: auto;   
    font-family: 'Montserrat';
    font-weight: bold;
}

div.Texte{
    text-align: justify;
    color:rgb(255, 255, 255);
    padding:75px;
    background-color:#16242F;
    font-size:20px ;
    block-size: auto;
    font-family: 'Montserrat';
}

div.Image{
    block-size: 250px;
}

div.Couleur{
    text-align: center;
    color:rgb(0, 26, 51);
    padding:7px;
    background-color:rgb(255, 201, 23);
    block-size: auto;
}

.image1{
    width: 100%;
    height: 100%;
    background-color:#16242F;
}

.image2{
    width: 100%;
    height: 100%;
}

.image3{
    width: 100%;
    height: 100%;
}

footer{
    text-align: justify;
    color:rgb(255, 255, 255);
    padding:40px;
    background-color:#16242F;
    font-size:13px ;
    block-size: auto;
    font-family: 'Montserrat';
}